[submodule "tmux/tpm"]
	path = modules/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "modules/fzf"]
	path = modules/fzf
	url = https://github.com/junegunn/fzf
[submodule "modules/oh-my-zsh"]
	path = modules/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
