[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "modules/fzf"]
	path = modules/fzf
	url = https://github.com/junegunn/fzf
[submodule "modules/oh-my-zsh"]
	path = modules/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "modules/llm-auto-commit"]
	path = modules/llm-auto-commit
	url = https://github.com/yehogwon/llm-auto-commit
